@using Final_Web_Project.ViewModels.Order.Cart
@model List<OrderCartViewModel>
    @{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1 class="text-left text-white">Cart</h1>
    <hr class="hr-2 bg-primary">
    @if (Model.Count == 0)
    {
    <h2 class="text-center text-white">You have no orders in your cart.</h2>
    <hr class="hr-2 bg-primary">
    }
    else
    {
    <div id="orders" class="text-primary">
        <div class="order-info row mt-4">
            <h3 class="col-md-1 text-white">#</h3>
            <h3 class="col-md-3 text-white">Image</h3>
            <h3 class="col-md-3 text-white">Album Name</h3>
            <h3 class="col-md-2 text-white">Price</h3>
            <h3 class="col-md-1 text-white">Quantity</h3>
            <h3 class="text-white col-md-2 text-center">Actions</h3>
        </div>
        <hr class="hr-2 bg-primary">
        @for (int i = 0; i < Model.Count; i++)
        {
        <div class="order row">
            <h5 class="col-md-1 text-left text-white">@(i + 1)</h5>
            <div class="col-md-3">
                <img class="img-thumbnail product-cart-image"
                     src="@Model[i].RecordPicture" />
            </div>
            <h5 class="col-md-3 text-left text-white">@Model[i].RecordAlbumName</h5>
            <h5 class="col-md-2 text-left text-white order-price">@Model[i].RecordPrice</h5>
            <h5 class="col-md-1 text-right text-white order-quantity">
                x
                <span class="qty">@(Model[i].Quantity)</span>
            </h5>
            <div class="col-md-1 mx-auto d-flex justify-content-around">
                <div class="minus-button" id="@(Model[i].Id)-minus">
                    <i class="fas fa-minus text-white h4"></i>
                </div>
                <div class="plus-button" id="@(Model[i].Id)-plus">
                    <i class="fas fa-plus text-white h4"></i>
                </div>
            </div>
            <div class="delete-button" id="@(Model[i].Id)">
                <i class="fas fa-times text-white h4"></i>
            </div>
        </div>
        }
    </div>
    <hr class="hr-2 bg-primary">
    <form action="/Order/Cart/Complete" method="post" class="d-flex justify-content-between">
        <button class="btn btn-primary font-weight-bold">Cashout</button>
        <strong id="total-price" class="text-white">Total: @Model.Sum(order => order.RecordPrice * order.Quantity).ToString("F2")</strong>
    </form>
    <script>
        function updateTotalPrice() {
            let totalPrice = 0;
            $('.order').each(function (i, item) {
                totalPrice += parseInt($(item).find('.order-quantity .qty').text()) * parseFloat($(item).find('.order-price').text());
            });
            $('#total-price').text('Total: ' + parseInt(totalPrice).toFixed(2));
        }
        $('.minus-button').click(function () {
            let orderId = $(this).attr('id').toString().replace('-minus', '');
            let element = $(this).parents('.order').find('.order-quantity');
            $.post({
                url: `/Order/${orderId}/Quantity/Reduce`,
                success: function () {
                    let currentQuantity = Number(element.text().toString().replace('x', ''));
                    element.find('.qty').text(currentQuantity - 1);
                    updateTotalPrice();
                }
            });
        });
        $('.plus-button').click(function () {
            let orderId = $(this).attr('id').toString().replace('-plus', '');
            let element = $(this).parents('.order').find('.order-quantity');

            $.post({
                url: `/Order/${orderId}/Quantity/Increase`,
                success: function () {
                    let currentQuantity = Number(element.text().toString().replace('x', ''));
                    element.find('.qty').text(currentQuantity + 1);
                    updateTotalPrice();
                }
            });
        });
        $('.delete-button').click(function () {
            let orderId = $(this).attr('id').toString();
            let element = $(this).parents('.order').find('.order-id');

            $.post({
                url: `/Order/${orderId}/Id/Delete`,
                success: function () {
                    $(this).parents('.order').remove();
                    updateTotalPrice();
                    location.reload();
                }
            });
        });
    </script>
    }
